/** colors */
$global-color-white: #fff;
$global-color-black: #000;
$global-color-gray-1: #222;
$global-color-gray-2: #888;
$global-color-purple: #54479b;
$global-color-green: #499b70;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
  ),
  $spacers
);
