@import "../../../styles/reset";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.Header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: calc(100% - 24px * 2);
  height: 60px;
  background-color: $global-color-white;
  z-index: $global-elevation-1;

  & &__logo {
    width: 120px;
  }

  & &__rightColumn {
    display: flex;
    align-items: center;
  }

  & &__navigation {
    display: flex;
    font-size: 16px;
    font-weight: bold;

    @media screen and (max-width: 428px) {
      display: none;
    }
  }

  & &__navigationLink + &__navigationLink {
    margin-left: 32px;
  }

  & &__navigation + &__entryButtons {
    margin-left: 28px;
  }

  & &__entryButtons {
    display: flex;

    @media screen and (max-width: 428px) {
      display: none;
    }
  }

  & &__entryButton {
    display: block;
    width: 200px;
    height: 44px;
  }

  & &__entryButton + &__entryButton {
    margin-left: 16px;
  }

  & &__entryButtonBody {
    width: 100%;
    height: 100%;
  }

  & &__spHumberger {
    display: block;
    width: 32px;

    @media screen and (min-width: 429px) {
      display: none;
    }
  }
}
