@import "../../../styles/reset";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.RecruitmentOverview {
  padding: 120px 16% 80px;
  text-align: center;
  background-color: $global-color-gray-1;

  @media screen and (max-width: 1000px) {
    padding: 120px 160px 0px;
  }

  @media screen and (min-width: 429px) {
    min-width: calc(1000px - 160px * 2);
  }

  @media screen and (max-width: 428px) {
    padding: 120px 4% 80px;
  }

  & &__overview {
    padding: 140px 100px;
    color: $global-color-black;
    background-color: $global-color-white;
    border-radius: 16px;

    @media screen and (min-width: 429px) and (max-width: 1160px) {
      padding: 80px 60px;
    }

    @media screen and (max-width: 428px) {
      padding: 60px 16px;
    }
  }

  & &__overviewImage {
    width: 100%;
  }

  & &__overviewTitle {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.08em;

    @media screen and (max-width: 428px) {
      font-size: 26px;
    }
  }

  & &__overviewImage + &__overviewTitle {
    margin-top: 80px;

    @media screen and (max-width: 428px) {
      margin-top: 40px;
    }
  }

  & &__overviewTitle + &__overviewTitle {
    margin-top: 8px;
  }

  & &__overviewSubTitle {
    font-weight: bold;
    letter-spacing: 0.08em;
  }

  & &__overviewTitle + &__overviewSubTitle {
    margin-top: 12px;
  }

  & &__overviewList {
    border-top: 1px solid $global-color-black;
  }

  & &__overviewSubTitle + &__overviewList {
    margin-top: 60px;
  }

  & &__overviewItem {
    display: flex;
    padding: 24px 8px;

    // リストの上下どちらにもボーダーがあるので、各アイテム自体は下線を持つのを許容
    border-bottom: 1px solid $global-color-black;

    @media screen and (max-width: 428px) {
      flex-direction: column;
    }
  }

  & &__overviewItemTitle {
    flex-shrink: 0;
    width: 200px;
    line-height: 1.6;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  & &__overviewItemContentList {
    text-align: left;
  }

  & &__overviewItemTitle + &__overviewItemContentList {
    @media screen and (max-width: 428px) {
      margin-top: 12px;
    }
  }

  & &__overviewItemContent {
    line-height: 1.6;
  }

  & &__overviewItemContent + &__overviewItemContent {
    margin-top: 8px;
  }
}
